body {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  max-height: 800px;
  padding: 5px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 2px 15px 15px 15px;
  padding: 15px;
  background-color: #2a807a;
  color: white;
  font-size: light;
  border-radius: 5px;
}
form {
  padding: 10px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-group {
  width: 40%;
}
.btn {
  font-size: 30px;
}
.row {
  text-align: center;
}
.card {
  margin: 30px 30px 5px;
  background: rgba(202, 220, 219, 0.4);
}
.current-city {
  font-size: 30px;
  font-weight: bolder;
}
.actual-temperature {
  font-size: 30px;
  font-weight: bolder;
}
.col-6.actual-temperature {
  position: relative;
  top: -30px;
  padding-bottom: 5px;
}

.form-group {
  padding: 5px 10px 5px 15px;
  border-radius: 5px;
}
.search-button {
  margin: 5px;
  padding: 5px 15px;
  background-color: #2a807a;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
.search-button:hover {
  background-color: white;
  color: #2a807a;
  border: 1px solid #2a807a;
}

.fa-sun {
  color: gold;
}
.fa-cloud-sun {
  color: rgb(190, 169, 49);
}
.high-temperature {
  font-weight: bold;
}

.footer {
  text-align: center;
  font-size: 10px;
  margin: 0px;
  padding: 5px;
}
.description {
  text-transform: capitalize;
  font-size: 19px;
}

.celsius {
  color: black;
  font-size: 15px;
  position: relative;
  top: -10px;
}
