body {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  max-height: 800px;
  padding: 5px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 2px 15px 15px 15px;
  padding: 15px;
  background-color: rgba(10, 97, 140, 0.6);
  color: white;
  font-size: light;
  border-radius: 5px;
}
form {
  padding: 10px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-group {
  width: 40%;
}
.btn {
  font-size: 30px;
}
.row {
  text-align: center;
}
.card {
  margin: 30px 30px 5px;
  background: rgba(177, 213, 232, 0.6);
}
.current-city {
  font-size: 30px;
  font-weight: bolder;
}
.actual-temperature {
  font-size: 30px;
  font-weight: bolder;
}
.col-6.actual-temperature {
  position: relative;
  top: -30px;
  padding-bottom: 5px;
}

.form-group {
  padding: 5px 10px 5px 15px;
  border-radius: 5px;
}
.search-button {
  margin: 5px;
  padding: 5px 15px;
  background-color: rgba(10, 97, 140, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
.search-button:hover {
  background-color: white;
  color: rgba(10, 97, 140, 0.6);
  border: 1px solid rgba(10, 97, 140, 0.6);
}

.high-temperature {
  font-weight: bold;
}

.footer {
  text-align: center;
  font-size: 10px;
  margin: 0px;
  padding: 5px;
}
.description {
  text-transform: capitalize;
  font-size: 19px;
}

.celsius {
  color: black;
  font-size: 15px;
  position: relative;
  top: -10px;
  left: -5px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  form {
    padding: 5px;
  }
  .search-button {
    font-size: 15px;
    padding: 5px;
  }
  .card-body {
    padding: 0;
    margin: 0 0 10px 0;
  }

  .btn {
    margin: 10px 0px;
    padding: 0px;
  }
  .card {
    padding: 0;
    margin: 0 0 10px 0;
  }

  .high-temperature {
    margin-bottom: 10px;
  }
}